{% extends 'pageWrapper.html' %}

{% block head %}
    <title>MultiworldGG Game Statistics</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="styles/markdown.css") }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="styles/stats.css") }}" />
    {{ css_resources|indent(4)|safe }}
    {{ js_resources|indent(4)|safe }}
    {{ chart_data|indent(4)|safe }}
{% endblock %}

{% block body %}
    {% include 'header/grassFlowersHeader.html' %}
    <div id="stats" class="markdown">
        <h1>MultiworldGG Game Statistics</h1>
        <h5>
            The data on this page is updated hourly.
        </h5>

        <div id="charts-wrapper">
        {% for chart in charts %}
            <div class="chart-container{% if loop.index0 < 2 %} full-width{% endif %}">
                {{ chart|indent(16)|safe }}
            </div>
        {% endfor %}
        </div>

        {% if total_pages > 1 %}
        <div class="pagination">
            {% if page > 1 %}
                <a href="{{ url_for('stats', page=page-1) }}">&laquo; Previous</a>
            {% endif %}
            <span>Page {{ page }} of {{ total_pages }}</span>
            {% if page < total_pages %}
                <a href="{{ url_for('stats', page=page+1) }}">Next &raquo;</a>
            {% endif %}
        </div>
        {% endif %}
    </div>
{% endblock %}
