html{
    overflow-x: hidden;
}

#landing-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

#landing-header{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    text-align: center;
}

#landing-header #landing-logo{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    height: 300px;
}

#landing-header h4{
    color: var(--mw-sys-color-white);
    font-size: 36px;
    margin-top: -10px;
    margin-bottom: 0;
    text-shadow: 1px 1px 7px var(--mw-sys-color-shadow);
    font-kerning: none;
    z-index: 10;
}

#landing-links{
    margin-left: auto;
    margin-right: auto;
    height: 175px;
}

#landing-links a{
    position: absolute;
    display: block;
    text-align: center;
    background-repeat: no-repeat;
    font-kerning: none;
    text-decoration: none;
    text-shadow: 1px 1px 7px var(--mw-sys-color-shadow);
    color: var(--mw-sys-color-white);
    font-size: 19px;
    text-transform: uppercase;
    font-family: Inter-Light, sans-serif;
}

#far-left-button{
    left: calc(50% - 450px);
    top: 440px;
}

#mid-left-button{
    left: calc(50% - 250px);
    top: 440px;
}

#mid-button{
    left: calc(50% - 50px);
    top: 440px;
}

#mid-right-button{
    left: calc(50% + 150px);
    top: 440px;
}

#far-right-button{
    left: calc(50% + 350px);
    top: 440px;
}

#landing #first-line{
    font-family: Inter-Light, sans-serif;
    font-size: 25px;
    margin: 8px 0;
    text-transform: uppercase;
}

#landing{
    max-width: 800px;
    min-height: 280px;
    margin-left: auto;
    margin-right: auto;
}

#landing-body{
    font-family: Inter-Light, sans-serif;
    font-size: 18px;
    color: var(--mw-sys-color-white);
    line-height: 25px;
}


.landing-deco{
    position: absolute;
}

.landing-deco.deco-rock{
    width: 30px;
}

#landing-deco-1{
    top: 525px;
    left: calc(50% - 276px);
}

#landing-deco-2{
    top: 355px;
    left: calc(50% + 110px);
}

#landing-deco-3{
    top: 395px;
    left: calc(50% - 150px);
}

#landing-deco-4{
    top: 335px;
    left: calc(50% - 580px);
}

#landing-deco-5{
    top: 135px;
    left: calc(50% + 450px);
}

#landing-deco-6{
    top: 507px;
    left: calc(50% + 196px);
}

@media all and (max-width: 1580px){
    #landing-header{ order: 1; }
    #landing-links{ order: 3; }
    #decorations{ order: 5; }
    #landing{ order: 2; }

    #landing-links{
        display: none;
    }

    .landing-deco{
        display: none;
    }
}
